:root {
	--dark: #051923;
	--dark-a: #212529;
	--light: #ffffff;
	--light-a: #7D919B;
}

*::-webkit-scrollbar {
	display: none;
}

body {
	background-color: var(--dark);
	font-weight: 300;
	color: var(--light);
	font-family: 'League Spartan', sans-serif;
	height: 100vh;
}

.bg-dark {
	background-color: var(--dark) !important;
}

.bg-dark-x {
	background-color: var(--dark-a) !important;
}


.form-control,
.btn {
	min-height: 3.125rem;
	line-height: initial;
}

.img-1 {
	background-image: url("./../img/firstImage.png");
	background-size: cover;
	background-position: center;
}

.img-2 {
	background-image: url("./../img/secondImage.png");
	background-size: cover;
	background-position: center;
}

.img-3 {
	background-image: url("./../img/thirdImage.png");
	background-size: cover;
	background-position: center;
}

h5 {
	font-weight: bold;
}

input[type="file"]::file-selector-button {
	color: #f8f9fa;
	background-color: var(--dark);
	border-color: #f8f9fa;
	padding: 5px 10px 5px 10px;
	border-radius: 10%;
}

input[type="file"]::file-selector-button:hover {
	background-color: #f8f9fa;
	border: 2px solid #f8f9fa;
	color: var(--dark);
}

.form__input[type="date"]::-webkit-calendar-picker-indicator {
	filter: invert(1) !important;
	border-radius: 50%;
	padding: 4px;
}

.custom-file-input {
	background-color: var(--dark-a) !important;
}

.colorWarning {
	color: #B22222 !important;
}

.changePassword {
	display: flex;
	justify-content: center;
}



.custom-checkbox {
	position: relative;
	padding-left: 25px;
	margin-bottom: 10px;
	cursor: pointer;
	font-size: 16px;
}

.custom-checkbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #eee;
	border-radius: 0.2rem;
}

.custom-checkbox:hover input~.checkmark {
	background-color: #ccc;
}

.custom-checkbox input:checked~.checkmark {
	background-color: #2196F3;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.custom-checkbox input:checked~.checkmark:after {
	display: block;
}

.custom-checkbox .checkmark:after {
	left: 7px;
	top: 3px;
	width: 6px;
	height: 12px;
	border: solid white;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
}

.info-product-container {
	border-radius: 20px;
	padding: 25px;
	border-color: #585858 !important;
}

.product-gallery-main-img {
	height: 600px;
	width: 100%;
	object-fit: cover;
}

ul,
li,
a {
	list-style-type: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

.registerContainer {
	max-height: 630px;
	overflow-y: scroll;
}