:root{
	--dark: #051923;
	--dark-a: #212529;
	--light: #ffffff;
	--light-a: #7D919B;

	/*------------Transiciones------------*/
	--tran-02: all 0.2s ease;
	--tran-03: all 0.3s ease;
	--tran-04: all 0.4s ease;
	--tran-05: all 0.5s ease;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: 300;
	color: var(--light) !important;
	font-family: 'League Spartan', sans-serif;
}

*::-webkit-scrollbar{
	display: none;
}




.profile-main{
	position: relative;
	height: 100vh;
	left: 260px;
	width: calc(100% - 260px);
	transition: all 0.5s ease;
}

.container{
	min-height: 0vh;
	background-color: #212529;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sidebar.close ~ .profile-main{
  left: 78px;
  width: calc(100% - 78px);
}

.profile .centered-content{
	display: ínline-block;
	text-align: center;
}


.container .profile img{
	height: 150px;
	width: 150px;
	border-radius: 50%;
	object-fit: cover;
	margin-bottom: 5px;
	
}

.container .profile{
	padding: 20px;
	background-color: var(--dark);
	box-shadow: 0 1rem 3rem rgba(40, 46, 50, 1)!important;
	width: 100%;
	border-radius: 5px;
}

.container .profile h3{
	margin: 5px 0;
	font-size: 20px;
	color: var(--light);
}

.container .profile p{
	margin-top: 20px;
	color: var(--light);
	font-size: 20px;	
}


.bg-dark-x { background-color: var(--dark-a) !important; }


.form-select::before,
 input[type="date"]::before,
 input[type="file"]::before {
   content: attr(placeholder);
   display: block;
   color: #5f656a; /* Color de letra sugerido */
   pointer-events: none;
 }
 
 /* Estilos cuando se selecciona un valor */
 .form-select:valid,
 input[type="date"]:valid,
 input[type="file"]:valid {
   color: #000000; /* Color de letra cuando se selecciona un valor */
 }

input[type="file"]::file-selector-button{
	color: #f8f9fa;
    background-color: var(--dark);
    border-color: #f8f9fa;
    padding: 5px 10px 5px 10px;
    border-radius: 10%;

}

input[type="file"]::file-selector-button:hover {
  background-color: #f8f9fa;
  border: 2px solid #f8f9fa;
  color: var(--dark);
}

.form__input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1) !important;
    border-radius: 50%;
    padding: 4px;
  }

.inputBox .custom-file {
  width: 100%;
}

.custom-file{
	background-color: var(--dark-a) !important;
}

.form-control, .btn{
	min-height: 3.125rem;
	line-height: initial;
}

.label{
	display: flex;
	justify-content: space-around;
}

.changePassword{
	display: flex;
	justify-content: center;
}



.custom-checkbox {
  position: relative;
  padding-left: 25px; /* Espacio para el checkbox */
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 16px;
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee; /* Color de fondo del checkbox */
  border-radius: 0.2rem;
}

.custom-checkbox:hover input ~ .checkmark {
  background-color: #ccc; /* Color de fondo del checkbox al pasar el cursor sobre él */
}

.custom-checkbox input:checked ~ .checkmark {
  background-color: #2196F3; /* Color de fondo del checkbox cuando está marcado */
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

.custom-checkbox .checkmark:after {
  left: 7px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.image{
	width: 200px !important;
	height: 200px !important;
	border-radius: 50% !important;
	object-fit: contain;

}

/*.labelLastName {  
		display: block; 
    margin-left: 35rem !important;
}*/


/*.profile-main{
	position: relative;
	height: 100vh;
	left: 260px;
	width: calc(100% - 260px);
	transition: all 0.5s ease;
	margin-top: 5px;
}

.sidebar.close ~ .profile-main{
  left: 78px;
  width: calc(100% - 78px);
}

.container{
	min-height: 100vh;
	background-color: #212529;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
}

.container .profile{
	padding: 20px;
	background-color: var(--dark);
	box-shadow: 0 1rem 3rem rgba(255,255,255,.100)!important;
	text-align: center;
	width: 100%;
	border-radius: 5px;
}

.container .profile img{
	height: 150px;
	width: 150px;
	border-radius: 50%;
	object-fit: cover;
	margin-bottom: 5px;
}

.container .profile h3{
	margin: 5px 0;
	font-size: 20px;
	color: var(--light);
}

.container .profile p{
	margin-top: 20px;
	color: var(--light);
	font-size: 20px;	
}


.bg-dark-x { background-color: var(--dark-a) !important; }

input[type="file"]::file-selector-button{
	color: #f8f9fa;
    background-color: var(--dark);
    border-color: #f8f9fa;
    padding: 5px 10px 5px 10px;
    border-radius: 10%;
}

input[type="file"]::file-selector-button:hover {
  background-color: #f8f9fa;
  border: 2px solid #f8f9fa;
  color: var(--dark);
}

.form__input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1) !important;
    border-radius: 50%;
    padding: 4px;
  }

 .custom-file-input{
 	background-color: var(--dark-a) !important;
 	 width: 66rem;
 	 height: 2.5rem;
    line-height: initial;
 }

 .form-control, .btn{
	min-height: 3.125rem;
	line-height: initial;
}

  .colorWarning{
 	color: #B22222 !important;
 }

*/
